 This is the privacy policy of "Agora" by Tsalamazing Applications, located in Greece

 Information Collection
 	Personal details collected by "Agora" are absolutely safe, private and secure. Information collected directly by the application falls in the category of 'Non-Personal Information',  a term that refers to data that does not identify you. Such information can be related to the general use (including but not limited to internet protocol addresses, browser types, browser) but none of this information is stored or saved in any way by us.

 	The location coordindates of the user is collected and used but never stored or disclosed

 	Google's Admob services are also used to implement ads inside the application. You can see google's privacy policy here (https://policies.google.com/privacy)

 Methods of Collecting Information
 	Non-personal infromation is collected directly via the application, using the user's choices and actions as well as interaction with the device's operating system

 	Location information is collected platform platform APIs

 	Any other piece of information is collected and handled carefuly, privately and securely by third-party APIs without them being available to us

 Purpose of Collecting Information
 	Information collected by us is collected and used to improve the users' experience when using the application

 	Location information is needed to get directions from the user's position to his location of choice

 	Information is collected so that apropriate and relevant ads are shown to the user

 Information Safety
 	We make sure that information collected by the users always is safe by collaborating only with trusted third-party APIs when needed and storing zero to no information ourselves. If and when information is stored by us, we make sure it is as little as possible, it is needed and it is never disclosed with any other person or service

 Choice of Information Sharing
 	Our users have the choice of not giving any location information to us if they do not wish to. As a result, a part of the application cannot be accessed and directions cannot be given to the user. Trying to access that part of the application results in the application asking for permission to access the user's location. If the users never try to access that part, they will never be promted to give any of that information

 	Information retrieved regarding ads and their content is retrieved by the third-party API and never accessed by us. Users cannot opt out of that data collection

 Third Parties
 	Third parties used that may or may not collect information are:
 		- Google services (Admob)

 For further information regarding our privacy policy contact: tsalamagkakisgc@gmail.com
